body {
	background: #3fa03f;
}

.card{
    background-color: #FFFFFF;
    height: 300px;
    width: 220px;
    border-radius: 10px;
    position: relative;
}

.card-value{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 180px;
}

.card-value p{
    margin: 0;
    position: absolute;               /* 2 */
    top: 45%;                         /* 3 */
    transform: translate(0, -48%) ;
    width: 100%;
    text-align: center;
}

.card-top, .card-bottom{
    position: absolute;
    font-size: 50px;
    width:96%;
}

.card-top{  
    text-align: left;
    margin-left: 2%;
    margin-top: -5px;
}

.card-bottom{
    text-align: right;
    bottom: 0px;
}

.heart, .diamond{
    color: #FF0000;
}

.heart > .card-top:before, .heart > .card-bottom:before{
    content: '♥';
}

.diamond .card-top:before, .diamond .card-bottom:before{
    content: '♦';
}

.club, .spade{
    color: #000000;
}

.club .card-top:before, .club .card-bottom:before{
    content: '♣';
}

.spade .card-top:before, .spade .card-bottom:before{
    content: '♠';
}

.button{
    background-color: rgb(238, 157, 8);
    width: 220px;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}

.inputCard{
    margin-bottom: 10px; 
    position: relative; 
    height: 35px;
}

.inputCard > .label{
    position: absolute; 
    z-index: 2; 
    margin-top: 7px; 
    margin-left: 10px; 
    font-weight: bold;
}

.inputCard > .value{
    position: absolute; 
    z-index: 1;
}

.inputCard > .value > input{
    width: 215px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    height: 30px;
    outline: 0;
    text-align: center;
    font-size: 16px;
}